*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    padding: 1em;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 1.5em;
}

button {
    padding: 0 1.5em;
    font-size: 1.5em;
    border-radius: 1em;
    border: 0;
    background-color: white;
}

button:hover {
    background-color: coral;
    cursor: pointer;
}

.container {
    background-color: peachpuff;
    height: 100vh;
}

.restaurantimg {
    width: 50%;    
}