*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    padding: 1em 0 0 0 ;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 1.5em;
}

button {
    padding: 0 1.5em;
    font-size: 1.5em;
    border-radius: 1em 1em 0 0;
    border: 0;
    background-color: white;
}

button:hover {
    background-color: coral;
    cursor: pointer;
}

.container {
    background-color: peachpuff;
    height: 100vh;
    padding: 0 25%;
}

.img {
    width: 100%;    
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
    background-color: white;

}

.menucontent {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1em;
}